<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
<section id="message" class="section">
    <div class="container" th:unless="${#strings.isEmpty(message)}">
        <em th:style="'color: red'" th:text="${message}"/>
    </div>
</section>
<section id="search" class="section">
    <div class="container">
        <h2 class="headline">Search Event By Title</h2>
        <form action="/spring-mvc/events" method="get">
            <label class="card-title">title</label>
            <input type="text" id="title1" name="title" />
            <label>size</label>
            <input type="number" id="size1" name="size" />
            <label>page</label>
            <input type="number" id="page1" name="page" />
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="container">
        <h2 class="headline">Search Event For Day</h2>
        <form action="/spring-mvc/events" method="get">
            <label class="card-title">day</label>
            <input type="date" id="date1" name="date" />
            <label>size</label>
            <input type="number" id="size2" name="size" />
            <label>page</label>
            <input type="number" id="page2" name="page" />
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="container">
        <h2 class="headline">Search Event By ID</h2>
        <form action="/spring-mvc/events" method="get">
            <label class="card-title">id</label>
            <input type="number" id="eventId1" name="id" />
            <input type="submit" value="Search">
        </form>
    </div>
</section>
<section id="create" class="section">
    <div class="container">
        <h2>Insert a Event</h2>
        <form action="/spring-mvc/events" method="post">
            <label>title</label>
            <input type="text" id="title2" name="title" />
            <label>date</label>
            <input type="datetime-local" id="date2" name="date" />
            <input type="submit" value="Insert" />
        </form>
    </div>
</section>
<section id="delete" class="section">
    <div class="container">
        <h2>Delete Event By ID</h2>
        <form action="/spring-mvc/events" method="delete">
            <input type="hidden" name="_method" value="delete">
            <label>id</label>
            <input type="number" id="eventId2" name="id" />
            <input type="submit" value="Delete" />
        </form>
    </div>
</section>
<section id="update" class="section">
    <div class="container">
        <h2 class="headline">Update Event</h2>
        <form action="/spring-mvc/events" method="update">
            <input type="hidden" name="_method" value="update">
            <label>id</label>
            <input type="number" id="eventId3" name="id" />
            <label>name</label>
            <input type="text" id="title3" name="title" />
            <label>email</label>
            <input type="datetime-local" id="date3" name="date" />
            <input type="submit" value="Update" />
        </form>
    </div>
</section>
<section id="display" class="section">
    <div class="eventList" th:unless="${#lists.isEmpty(events)}">
        <h2>Events</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event: ${events}" >
                <td th:text="${event.id}"></td>
                <td th:text="${event.date}"></td>
                <td th:text="${event.title}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>