<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User</title>
</head>
<body>
<section id="message" class="section">
    <div class="container" th:unless="${#strings.isEmpty(message)}">
        <em th:style="'color: red'" th:text="${message}"/>
    </div>
</section>
<section id="search" class="section">
    <div class="container">
        <h2 class="headline">Search User By Email</h2>
        <form action="/spring-mvc/users" method="get">
            <label class="card-title">email</label>
            <input type="email" id="email1" name="email" />
            <input type="submit" value="Search">
        </form>
    </div>

    <div class="container">
        <h2 class="headline">Search User By ID</h2>
        <form action="/spring-mvc/users" method="get">
            <label class="card-title">id</label>
            <input type="number" id="userId1" name="id" />
            <input type="submit" value="Search">
        </form>
    </div>

    <div class="container">
        <h2 class="headline">Search Users By Name</h2>
        <form action="/spring-mvc/users" method="get">
            <label class="card-title">name</label>
            <input type="text" id="name" name="name" />
            <label>page size</label>
            <input type="number" id="size1" name="size" />
            <label>page number</label>
            <input type="number" id="page1" name="page" />
            <input type="submit" value="Search">
        </form>
    </div>
</section>
<section id="create" class="section">
    <div class="container">
        <h2>Insert a User</h2>
        <form action="/spring-mvc/users" method="post">
            <label>name</label>
            <input type="text" id="name2" name="name" />
            <label>email</label>
            <input type="text" id="email2" name="email" />
            <input type="submit" value="Insert" />
        </form>
    </div>
</section>
<section id="delete" class="section">
    <div class="container">
        <h2 class="headline">Delete User By ID</h2>
        <form action="/spring-mvc/users" method="delete">
            <input type="hidden" name="_method" value="delete">
            <label>id</label>
            <input type="number" id="userId2" name="id" />
            <input type="submit" value="Delete" />
        </form>
    </div>
</section>
<section id="update" class="section">
    <div class="container">
        <h2 class="headline">Update User</h2>
        <form action="/spring-mvc/users" method="update">
            <input type="hidden" name="_method" value="update">
            <label>id</label>
            <input type="number" id="userId3" name="id" />
            <label>name</label>
            <input type="text" id="name3" name="name" />
            <label>email</label>
            <input type="email" id="email3" name="email" />
            <input type="submit" value="Update" />
        </form>
    </div>
</section>
<section id="display" class="section">
    <div class="userList" th:unless="${#lists.isEmpty(users)}">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}" >
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>